
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.card h1{

    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card h1{
    background-color: #3498db;
    top: 0%;
    padding: 10px;
}
.card img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.card:nth-child(3) {
    grid-column: span 2;
}

footer {
    text-align: center;
    padding: 15px;
    background: #3498db;
    color: white;
    margin-top: 20px;
}

.course{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content:center;
 gap: 10%;
margin-top: 10px;
}
.course span{
    background-color: rgb(27, 27, 27);
    padding: 10px;
    color:aliceblue;
    border-radius: 10%;
}

@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
    h1{
        text-align: center;
    }
    .course{
       align-items: center;
    }
    .card:nth-child(3) {
        grid-column: span 1;
    }
}








.courses-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.courses-items span {
    background: #3498db;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}
.courses-items span:nth-child(4),
.courses-items span:nth-child(6) {
    background: gray;
}
@media (max-width: 600px) {
    .courses-items {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 400px) {
    .courses-items {
        grid-template-columns: 1fr;
    }
}
