* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
 
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #333;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 10%;
}

.menu-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none;
}
.nav-menu{
    background-color: rgb(20, 4, 36);
    width: 100%;
}


.nav-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding:0;
    }

    .header-top {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menu-btn {
        display: block;
    }

    .nav-menu {
        display: none;
        width: 100%;
    }

    .nav-menu ul {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .nav-menu.show {
        display: flex;
    }
}
